<?xml version="1.0" encoding="UTF-8"?>

  <!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
  
  <mapper namespace="com.ghfkd1235.spring.ex.real.dao.RealDAO">
  	<select id="selectReal" resultType="com.ghfkd1235.spring.ex.real.model.Real"
  	 parameterType="int">
	  	SELECT
	  		`id`
	  		, `realtorId`
	  		, `address`
	  		, `area`
	  		, `type`
	  		, `price`
	  		, `rentPrice`
	  		, `createdAt`
	  		, `updatedAt`
	  	FROM
	  		`real_estate`
	  	WHERE
	  		`id` = #{id}
  	</select>
  	
  	  	<select id="selectRentPrice" resultType="com.ghfkd1235.spring.ex.real.model.Real"
  	 parameterType="int">
	  	SELECT
	  		`id`
	  		, `realtorId`
	  		, `address`
	  		, `area`
	  		, `type`
	  		, `price`
	  		, `rentPrice`
	  		, `createdAt`
	  		, `updatedAt`
	  	FROM
	  		`real_estate`
	  	WHERE
	  		`rentPrice` <![CDATA[ < ]]> #{rentPrice}
  	</select>
  	
  	<select id="selectAreaPrice" resultType="com.ghfkd1235.spring.ex.real.model.Real"
  	 parameterType="int">
  			  	SELECT
	  		`id`
	  		, `realtorId`
	  		, `address`
	  		, `area`
	  		, `type`
	  		, `price`
	  		, `rentPrice`
	  		, `createdAt`
	  		, `updatedAt`
	  	FROM
	  		`real_estate`
	  	WHERE
	  	<![CDATA[ 
	  		`type` = '매매'
	  		AND `area` >= #{area}
	  		AND `price` <= #{price}		
	  	]]>
	  
  	</select>
  </mapper>
  
  